extends ../layout-preprint
block content
  table.container
    thead
      tr
        td(colspan='7')
          table.header
            tr
              td.logo-quest
                include ../_includes/logo-quest.pug
              td.spacer
              td.customer
                p
                  strong ALBARAN Nº
                  |  #{albaran.serie}#{albaran.anyoFiscal.anyo}#{albaran.numero.toString().padStart(4, '0')}
                p Fecha: #{dateFns.format(albaran.fecha, 'dd/MM/yyyy')}
                hr
                .header-cliente
                  p #{albaran.cliente.embDatosFiscales.tipoDocumento.nombre}: #{albaran.cliente.embDatosFiscales.numero_documento}
                  p
                    strong #{albaran.cliente.embDatosFiscales.nombre_fiscal} #{albaran.cliente.embDatosFiscales.apellido_1} #{albaran.cliente.embDatosFiscales.apellido_2}
                  p
                    | #{albaran.direccionFiscal.denominacionVia.nombre}
                    | #{albaran.direccionFiscal.nombre_via}
                    | #{albaran.direccionFiscal.numero}
                    | #{albaran.direccionFiscal.portal}
                    | #{albaran.direccionFiscal.escalera ? 'esc ' + albaran.direccionFiscal.escalera : ''}
                    | #{albaran.direccionFiscal.piso ? 'piso ' + albaran.direccionFiscal.piso : ''}
                    | #{albaran.direccionFiscal.puerta ? 'puerta ' + albaran.direccionFiscal.puerta : ''}
                  p
                    | #{albaran.direccionFiscal.codigo_postal}
                    | #{albaran.direccionFiscal.localidad}
                    | #{albaran.direccionFiscal.provincia ? '('+albaran.direccionFiscal.provincia+')' : '' }
                  .header-cliente-telefonos-fas
                    p Tfno.: #{albaran.cliente.embInfoContacto.telefono1} #{albaran.cliente.embInfoContacto.telefono2} #{albaran.cliente.embInfoContacto.telefono3}
                  p Cód. Cliente: #{albaran.cliente.codigo}
                  if albaran.direccionObra
                    p
                      strong OBRA:
                    p
                      | #{albaran.direccionFiscal.denominacionVia.nombre}
                      | #{albaran.direccionFiscal.nombre_via}
                      | #{albaran.direccionFiscal.numero}
                      | #{albaran.direccionFiscal.portal}
                      | #{albaran.direccionFiscal.escalera ? 'esc ' + albaran.direccionFiscal.escalera : ''}
                      | #{albaran.direccionFiscal.piso ? 'piso ' + albaran.direccionFiscal.piso : ''}
                      | #{albaran.direccionFiscal.puerta ? 'puerta ' + albaran.direccionFiscal.puerta : ''}
                    p
                      | #{albaran.direccionFiscal.codigo_postal}
                      | #{albaran.direccionFiscal.localidad}
                      | #{albaran.direccionFiscal.provincia ? '(' + albaran.direccionFiscal.provincia + ')' : '' }
            if albaran.observaciones != null && albaran.observaciones != ''
              tr
                td(colspan='3')
                  p Observaciones: #{albaran.observaciones}
    tbody.rows
      tr
        th Cód.
        th Descripción
        th Cant.
        th Precio
        th % Dto.
        th Total

      each linea, index in albaran.lineaAlbaranCollection
        tr
          td #{linea.codigo_articulo}
          td.description #{linea.nombre_articulo}
          td.align-right #{numberFormat(linea.cantidad)}
          td.align-right #{numberFormat(linea.precio_base)}
          td.align-right #{numberFormat(linea.descuento)}
          td.align-right #{numberFormat(linea.total_base)}
      tr
        td(colspan='6')
          table.summary
            tbody
              tr
                td.summary-left
                td.summary-right
                  table.totales
                    tbody
                      tr
                        td Base Imponible:
                        td #{numberFormat(albaran.total_base)} €
                      tr
                        td Total Imp. (#{numberFormat(albaran.iva)}%):
                        td #{numberFormat(albaran.total_impuestos)} €
                      tr
                        td Total:
                        td #{numberFormat(albaran.total)} €
    tfoot
      tr
        td(colspan='6')
          // table.footer
          p
          p
